/*========================= GOOGLE FONTS =========================*/
@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@300;400;500;600&display=swap");

/*========================= VARIABLES CSS =========================*/
:root {
  /*____________________ Colors ____________________*/
  --clr-dark: #222222;
  --clr-gray: #44494a;
  --clr-light: #d4cfc2;
  --clr-theme: #ff0000;
  --clr-border: #bababa;
  --clr-hover: pink;

  /*____________________ Font and typography ____________________*/
  --font-family-text: "Poppins", sans-serif;

  /*____________________ Font Size ____________________*/
  --fs-title: 1.75rem;
  --fs-logo: 1.5rem;

  --fs-larger: 2.5rem;
  --fs-large: 2rem;
  --fs-medium: 1.25rem;
  --fs-small: 1rem;
  --fs-smaller: 0.75rem;

  /*____________________ Font Weight ____________________*/
  --fw-thin: 300;
  --fw-medium: 500;
  --fw-semi-bold: 600;

  /*____________________ Margin Bottom ____________________*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*____________________ z index ____________________*/
  --z-behind: -10;
  --z-tooltip: 10;
  --z-fixed: 20;
  --z-modal: 30;
}

/*____________________ Variables Dark theme ____________________*/

/*____________________ Button ____________________*/
.button {
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-light);
  font-weight: var(--fw-medium);
  color: var(--clr-light);
  font-size: var(--fs-small);
}
.button:hover {
  color: red;
  background-color: white;
}
/*========================= BASE =========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 3rem 0 0 0;
  font-size: var(--fs-medium);
  font-family: var(--font-family-text);
  color: var(--clr-light);
  background-color: var(--clr-dark);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
